.rc-checkbox {

    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
    }

    &.column {
        display: flex;
        align-items: center;
    }

    .label-wrap .iconfont {
        transition: color .3s;
    }


    .label-wrap:hover .iconfont {
        color: #1890ff !important;
    }

    .label-text {
        color: rgba(0, 0, 0, 0.65);
        vertical-align: middle;
        font-size: 16px;
    }

    &.column .label-text {
        flex: 1;
        padding-left: 5px;
    }
}